/* default Setting */
* {font-family:"돋움체", Dotumche, Arial, Verdana, sans-serif !important;}
body {margin:0px; padding:0px; color:#808080; font-size:12px; }
a:link, a:visited, a:active {color:#808080; text-decoration:none;}
a:hover {color:#808080; text-decoration:underline;}
div, p, span {margin:0px; padding:0px;}
dl, dt, dd {margin:0px; padding:0px; line-height:14px;}
ul, ol, li {margin:0px; padding:0px; list-style:none; line-height:14px;}
h1, h2, h3, h4, h5, h6 {margin:0px; padding:0px; font-size:12px;}
table, th, td {margin:0px; border:0px; border-collapse:collapse; font-size:12px;}
textarea {
	border:1px solid #CFCFCF;
	padding:5px;
	vertical-align:middle;
	scrollbar-base-color:#EBE9E8;		/* 기본색 */
	scrollbar-face-color:#fff;		/* 표면색 */
	scrollbar-arrow-color:#9C9C9C;		/* 화살표색 */
	scrollbar-hightlight-color:#EBE9E8;	/* 하이라이트색 */
	scrollbar-3dlight-color:#EBE9E8;	/* 버튼의 하이라이트색 */
	scrollbar-shadow-color:#fff;		/* 그림자색 */
	scrollbar-darkshadow-color:#EBE9E8;	/* 버튼의 그림자색 */
	scrollbar-track-color:#fff;
}
table {border-collapse:collapse;}
input {border:1px solid #CFCFCF; height:12px; padding:3px 5px; vertical-align:middle;}
fieldset, form, label { margin:0px; padding:0px; border:none;}
em { font-style:normal; }
img,a {border:0;selector-dummy:expression( this.hideFocus=true);}
hr, caption, legend { display:none; }
.cboth {clear:both; line-height:0px; font-size:0px; height:0; overflow:hidden;}
label {cursor:pointer;}
input[type='checkbox'] {width:16px; height:16px; margin:0; border:none;}
input[type='file'] {background-color:#ffffff;}
/* default Setting END */

.zero_padding {padding:0 !important;}
.zero_margin {margin:0 !important;}

/* layout style */
#login-page {position:absolute; left:0; top:0; width:100%; min-height:250px;}
#login-page h1 {width:393px; margin:0 auto;}
#login-page .login-box {position:relative; width:440px; margin:135px auto 0; }
#login-page .login-box .input-type {width:350px;}
#login-page .login-box .input-type li {position:relative; width:263px; height:57px; margin-top:19px; padding:1px 0 1px 87px; background:url('/assets/image/input_box.gif') no-repeat left top;}
#login-page .login-box .input-type li.sta {margin-top:0;}
#login-page .login-box .input-type li span.txt {position:absolute; top:21px; left:13px;}
#login-page .login-box .input-type li span.icon {position:absolute; top:20px; right:20px;}
#login-page .login-box .input-type li span.key {position:absolute; top:22px; right:17px;}
#login-page .login-box .input-type li input {width:215px; height:55px; padding:0 0 0 10px; border:none; line-height:55px; font-size:18px;}
#login-page .login-box .login-btn {position:absolute; top:0; right:0;}
#login-page .login-box .login-btn input {width:77px; height:132px; border:none;}

#container {position:absolute; top:0; right:0; bottom:0; left:0;}

#headerWrap {overflow:hidden; width:100%; height:78px; padding-top:8px; background:url('/assets/image/top_line.gif') repeat-x left top;}
#headerWrap h1 {float:left; margin:10px 0 0 21px;}
#headerWrap .log-menu {float:right; margin-right:20px;}
#headerWrap .log-menu .log {overflow:hidden; width:auto;}
#headerWrap .log-menu .log .log-txt {float:right; color:#9e9e9e; font-size:14px; line-height:26px;}
#headerWrap .log-menu .log .log-btn {float:right;}
#headerWrap .log-menu .menu {float:right; margin-top:7px;}
#headerWrap .log-menu .menu li {float:left; margin-left:6px;}

#frameWrap {position:absolute; top:90px; right:0; bottom:0; left:0;}
#frameWrap #contentArea {width:100%; height:100%;}

#contentWrap {padding:0 20px 20px 20px;}

.wd001 {width:60px; height:26px; line-height:26px;}
.wd101 {width:75px; height:26px; line-height:26px;}
.wd201 {width:130px; height:26px; line-height:26px;}
.wd301 {width:221px; height:26px; line-height:26px;}
.wd401 {width:170px; height:26px; line-height:26px;}
.wd501 {width:265px; height:26px; line-height:26px;}
.wd601 {width:370px; height:26px; line-height:26px;}
.wdfull {width:96%; height:26px; line-height:26px;}

.icld {width:38px; height:34px; padding:0; border:none; line-height:34px;}

.date-btn {overflow:hidden; margin-top:15px;}
.date-btn .date {float:left; border:1px solid #dadada;}
.date-btn .date .strong {float:left; display:block; padding:0 13px; color:#585858; font-size:14px; text-align:center; line-height:48px;}
.date-btn .date .strong2 {float:left; display:block; padding:0 13px; border-left:1px solid #dadada; color:#585858; font-size:14px; text-align:center; line-height:48px;}
.date-btn .date .calendar-search {float:left; height:34px; padding:7px;}
.date-btn .date .calendar-search2 {float:left; height:32px; padding:14px 5px 0 5px;}
.date-btn .date .calendar-search2 select.wd100 {width:100px;}
.date-btn .date .calendar-search2 .radio {border:none; vertical-align:-2px;}
.date-btn .date .calendar-search2 label span {width:50px;}
.date-btn .btn {float:right; margin-top:5px;}
.board-list {width:100%; margin-top:10px; border:1px solid #dadada;}
.board-list tr {border:1px solid #dadada;}
.board-list tr.mainitem {border-top-color:#dadada; border-bottom:none;}
.board-list tr.subitem {border-top-color:#f2f2f2; border-bottom:none;}
.board-list tr:last-child {border-bottom-color:#dadada;}
.board-list th, .board-list td {border-top:none; border-right:1px solid #ebebeb; border-bottom:none; border-left:1px solid #ebebeb;}
.board-list th {padding:5px; background:#f2f2f2; color:#585858; font-size:12px; text-align:center; cursor:default;}
.board-list td {padding:5px; color:#585858; font-size:12px; cursor:default;}

.board-list2 th {padding:5px 0; background:#f2f2f2; border-left:1px solid #dadada; border-bottom:1px solid #dadada; color:#585858; font-size:12px; cursor:default;}
.board-list2 td {padding:5px; border-bottom:1px solid #dadada; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; color:#585858; font-size:12px; cursor:default;}

.paging {margin-top:20px; text-align:center;}
.paging strong {margin:0 2px; color:#585858; font-size:13px; line-height:26px;}
.paging a {margin:0 2px; color:#b7b7b7; font-size:13px; line-height:26px;}
.paging a:hover {color:#585858;}
.paging a.on {color:#585858;}
.paging a img {vertical-align:middle;}

.tit-divition {overflow:hidden;}
.tit-divition .tit {float:left; margin-top:10px;}
.tit-divition .divition {float:right; border:1px solid #dadada;}
.tit-divition .divition .strong {float:left; display:block; padding:0 13px; color:#585858; font-size:14px; line-height:48px; text-align:center;}
.tit-divition .divition .strong2 {float:left; display:block; padding:0 13px; border-left:1px solid #dadada; color:#585858; font-size:14px; line-height:48px; text-align:center;}
.tit-divition .divition .radio-select {float:left; height:32px; padding:14px 26px 0 26px; border-left:1px solid #dadada; color:#585858; font-size:13px;}
.tit-divition .divition .radio-select .radio {border:none; vertical-align:-2px;}
.board-img {width:100%; margin-top:10px; border:1px solid #dadada;}
.board-img tr {border:1px solid #dadada;}
.board-img th, .board-img td {border-top:none; border-right:1px solid #ebebeb; border-bottom:none; border-left:1px solid #ebebeb;}
.board-img th {padding:5px; background:#f2f2f2; color:#585858; font-size:12px; text-align:center; cursor:default;}
.board-img td {padding:1px 5px; color:#585858; font-size:12px; cursor:default;}
.board-img td.line {border-bottom:1px solid #dadada;}
.board-img td.file {padding:11px 0; text-align:center;}
.board-img td select.wd100 {width:100px;}
.board-img td select.wd150 {width:150px;}
.sizepx {margin-top:15px; color:#828282; font-size:14px;}
.btn-save {margin-top:20px; text-align:right;}

.board-type {width:100%; margin-top:20px; border:1px solid #dadada;}
.board-type tr {border:1px solid #dadada;}
.board-type th, .board-img td {border-top:none; border-right:1px solid #ebebeb; border-bottom:none; border-left:1px solid #ebebeb;}
.board-type th {padding:5px; background:#f2f2f2; color:#585858; font-size:12px; text-align:center; cursor:default;}
.board-type td {padding:5px; color:#585858; font-size:14px; cursor:default;}
.board-type td input.wd113 {width:100px; height:26px;}
.board-type td input.wd281 {width:270px; height:26px;}
.board-type td input.calendar {width:38px; height:34px; padding:0; border:none;}
.board-type td input.search {width:38px; height:34px; padding:0; border:none;}

.btn-right {margin-top:15px; text-align:right;}

.manufac-item {overflow:hidden; width:856px; margin:79px auto;}
.manufac-item .mglt10 {margin-left:10px;}
.manufac-item .mi-popup {float:left; width:421px; border:1px solid #dadada;}
.manufac-item .mi-popup h2 {height:30px; padding:17px 0 0 13px; background:#f2f2f2; border-bottom:1px solid #dadada; color:#585858; font-size:14px;}
.manufac-item .mi-popup .btn-lookup {margin:10px 14px 0 0; text-align:right;}
.manufac-item .mi-popup .search-character {overflow:hidden; width:388px; margin:18px 0 10px 20px;}
.manufac-item .mi-popup .search-character .strong {float:left; display:block; width:72px; color:#585858; font-size:14px; line-height:34px;}
.manufac-item .mi-popup .search-character .charac-box {float:left;}
.manufac-item .mi-popup .search-character .charac-box input.wd310 {width:304px; height:26px;}
.manufac-item .mi-popup .search-character .charac-box .select {margin-top:9px; color:#585858; font-size:13px;}
.manufac-item .mi-popup .search-character .charac-box .select input.radio {border:none; vertical-align:-2px;}
.manufac-item .mi-popup .table-line {padding:19px 21px 34px 21px; border-top:1px solid #dadada;}
.board-pro {width:100%; border:1px solid #dadada;}
.board-pro th {padding:11px 0; background:#f2f2f2; border-left:1px solid #dadada; border-bottom:1px solid #dadada; color:#585858; font-size:14px;}
.board-pro td {padding:11px 0; border-left:1px solid #dadada; border-bottom:1px solid #dadada;}

.txt_ar {text-align:right;}
.txt_ac {text-align:center;}
.txt_al {text-align:left;}

.txt_bold {font-weight:bold;}
.txt_normal {font-weight:normal;}

.curPointer, .curPointer td {cursor:pointer !important;}
.curPointer:hover, .curPointer:hover td {color:#808080; text-decoration:underline;}


#popupDiv {display:none; margin:0; padding:0; cursor:default;}
#popupDiv #title {top:0px; left:0px; width:100%; height:30px; background-color:#DB2032; color:#ffffff; border:solid 1px #DB2032;}
#popupDiv #title #titleText {position:absolute; float:left; font-size:15px; font-weight:bold; padding:6px 10px;}
#popupDiv #title #closeIcon {float:right; height:100%; cursor:pointer;}
#popupDiv #popupFrame {width:100%; height:100%; margin:0; padding:0; background-color:#ffffff; border:solid 1px #DB2032;}



#loadingDiv {display:none; margin:0; padding:0; width:66px; height:66px; padding:17px; background-color:#333333; border:none; border-radius:20px; cursor:default;}
#loadingDiv img {width:100%; height:100%;}

.bg_preview {max-width:150px; max-height:82px; border:solid 5px #ffffff; cursor:pointer;}
.bg_preview.selected {border:solid 5px #00667d;}

#nicGrp {display:block; float:left;}
#itemGrp {display:block; float:left;}

.file_input_hidden, .submit_hidden {position:absolute; right:0px; top:0px; opacity:0; filter:alpha(opacity=0); -ms-filter:"alpha(opacity=0)"; -khtml-opacity:0; -moz-opacity:0;}

.proc_hidden {display:none;}

.bd_light, .bd_light td {border-top:solid 1px #ebebeb; border-bottom:solid 1px #ebebeb;}

#error-page {position:absolute; left:0; top:0; width:100%; min-height:300px;}
#error-page h1 {width:393px; margin:0 auto;}
#error-page .error-box {position:relative; width:600px; margin:35px auto 0; }

.error-type {width:100%; margin-top:0px; border:1px solid #dadada;}
.error-type th {border-bottom:1px solid #dadada; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb;  color:#585858; background-color:#ebebeb; font-size:14px; text-align:center;}
.error-type td {padding:5px; border-bottom:1px solid #dadada; border-left:1px solid #ebebeb; border-right:1px solid #ebebeb; font-size:14px; line-height:25px; font-weight:bold; }
.error-type td.error-msg {font-size:14px; line-height:25px; color:#000000; text-align:center; }
.error-type td input.wd113 {width:100px; height:26px;}
.error-type td input.wd281 {width:270px; height:26px;}
.error-type td input.calendar {width:38px; height:34px; padding:0; border:none;}
.error-type td input.search {width:38px; height:34px; padding:0; border:none;}
